<div class="text-center mt-4" style="color: #F3C9D9">
  <h1>New User</h1>
</div>


<div class="d-flex my-5 h-100 justify-content-center align-items-center" style="background-color: #F3C9D9">
  <div class="card text-center d-flex w-30">

    <%# Prénom %>
    <div class="card-header">
      <%= form_tag url_for(action: 'create'), method: "post" do %>
      <%= label_tag 'First name' %> <br>
    </div>
    <div class="card-body">
      <%= text_field_tag 'first_name'%>
    </div>

    <%# Nom %>
     <div class="card-header">
      <%= label_tag 'Last name' %> <br>
    </div>
    <div class="card-body">
      <%= text_field_tag 'last_name'%>
    </div>

    <%# Desciption %>
      <div class="card-header">
      <%= label_tag 'Description' %> <br>
    </div>
    <div class="card-body">
      <%= text_field_tag 'description'%>
    </div>

    <%# email %>
  <div class="card-header">
      <%= label_tag 'email' %> <br>
    </div>
    <div class="card-body">
      <%= text_field_tag 'email'%>
    </div>

    <%# Age %>
      <div class="card-header">
      <%= label_tag 'Age' %> <br>
    </div>
    <div class="card-body">
      <%= text_field_tag 'age'%>
    </div>

    <%# Password %>
      <div class="card-header">
      <%= label_tag 'Password' %> <br>
    </div>
    <div class="card-body">
      <%= text_field_tag 'password'%>
    </div>

    <%# Confirmation %>
    <div class="card-header">
     <%= label_tag 'Confirm your password' %>
    </div>
    <div class="card-body">
      <%= text_field_tag 'confirm_password' %>
    </div>
    <br>

    
    <%= submit_tag "Submit" %>
    <% end %>
  </div>
</div>