<body>
  <main>
    <div class="text-center my-5">
      <h1> Gossip </h1>
    </div>

    <div class="mx-4">
      <h3>Ecrit par <a href="/users/<%= @gossip.user.id %>" style="color: #F3C9D9"><%= @gossip.user.first_name%></a></h3>
      <br>

      <h4>Titre <%= @gossip.title %></h4>
      <br>
      <p><%= @gossip.content %></p>
      <p>
      <a href="<%= gossips_path %>" class="btn" style="background-color: #F3C9D9">Revenir aux articles</a>
      </p>
    </div>

  </main>
</body>

